.Dialog_container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 95;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  @include flexCenterXY;
  padding: 10px;
  .background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 95;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.637);
  }
}
.form {
  position: relative;
  z-index: 100;
  width: 100%;
  max-width: 500px;
  @include flexColumn;
  justify-content: unset;
  gap: 35px;
  background-color: white;
  border-radius: 10px;
  padding: 25px 20px 20px 20px;
  h2 {
    font-size: 1.7rem;
  }
  span {
    color: blue;
    font-weight: 600;
    font-size: $fontSizeL;
  }
  form {
    width: 100%;
    @include flexColumn;
    align-items: flex-start;
    justify-content: unset;
    gap: 10px;
    button {
      align-self: center;
      @include button;
    }
    div {
      width: 100%;
      position: relative;
      @include flexColumn;
      align-items: flex-start;
      gap: 5px;
      margin-bottom: 10px;
    }
    input {
      width: 100%;
      height: 40px;
      border: 1px solid $beige;
      padding: 8px;
      border-radius: 5px;
      &:focus {
        border-color: black;
        outline: none;
      }
    }
    .showPass {
      position: absolute;
      top: 34px;
      right: 10px;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
  .close {
    position: absolute;
    width: 25px;
    height: 25px;
    font-weight: 700;
    top: 5%;
    right: 5%;
    border: 1px solid black;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    @include flexCenterXY;
    cursor: pointer;

    &:hover {
      background-color: black;
      border: 1px solid white;
      color: white;
    }
  }
  .error_list {
    @include flexColumn;
    align-items: unset;
    ul {
      list-style-type: none;
    }
  }
  span {
    font-size: 0.8rem;
    color: grey;
  }
}
// SnackBar
.hide {
  display: flex;
  align-items: center;
  position: fixed;
  width: 300px;
  height: 70px;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  transition: all 0.8s ease-out, right 0.5s ease-out, opacity 0.8s ease-out;
  visibility: hidden;
  z-index: 100;
  right: -10%;
  top: 10%;
  opacity: 0;
}

.show {
  display: flex;
  align-items: center;
  position: fixed;
  width: 300px;
  height: 70px;
  padding: 10px 15px;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  transition: all 0.8s ease-out, right 0.5s ease-out, opacity 0.8s ease-out;
  visibility: visible;
  z-index: 100;
  right: 10%;
  top: 10%;
  opacity: 1;
}

.error {
  background-color: #ef5350;
}

.success {
  background-color: #4caf50;
}
